/* Labels */

#volume-label {
	-fx-fill: white;
	-fx-font-size: 10pt;
	-fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, black, 0, 0.0, 1, 1);
}

#time-label {
	-fx-fill: white;
	-fx-font-size: 10pt;
	-fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, black, 0, 0.0, 1, 1);
}

/* Sliders */
.slider .track {
    -fx-background-color: linear-gradient(#d0d0d0, #2f2f2f);
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2, 2, 2;
    -fx-padding: 0.2em;
}

.slider .thumb {
	-fx-background-color: white;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 2em;
    -fx-padding: 0.4em;
}

/* Buttons */

.button {
	-fx-background-color: transparent;
    -fx-padding: 0;
	-fx-content-display: graphic-only;
}

#play-btn {
	-fx-graphic: url(icons/play.png);
}

#play-btn:hover {
	-fx-graphic: url(icons/play-hover.png);
}

#play-btn:armed {
	-fx-graphic: url(icons/play-armed.png);
}

#pause-btn {
	-fx-graphic: url(icons/pause.png);
}

#pause-btn:hover {
	-fx-graphic: url(icons/pause-hover.png);
}

#pause-btn:armed {
	-fx-graphic: url(icons/pause-armed.png);
}

#stop-btn {
	-fx-graphic: url(icons/stop.png);
}

#stop-btn:hover {
	-fx-graphic: url(icons/stop-hover.png);
}

#stop-btn:armed {
	-fx-graphic: url(icons/stop-armed.png);
}

#rewind-btn {
	-fx-graphic: url(icons/rewind.png);
}

#rewind-btn:hover {
	-fx-graphic: url(icons/rewind-hover.png);
}

#rewind-btn:armed {
	-fx-graphic: url(icons/rewind-armed.png);
}